@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.mobileMenu{    
    position: relative;
    top:22px;
    left:36px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px #0000001A;
}
.mobileMenu::after{
    position: absolute;
    content:"";
    width:16px;
    height:3px;
    border-top: 3px solid #5F74DD;
    border-bottom: 3px solid #5F74DD; ;
    top:16px;
    left:16px;
}
.mobileMenu::before{
    position: absolute;
    content:"";
    width:12px;
    height:3px;
    border-top: 3px solid #5F74DD;
    top: 29px;
    left:16px;
}
.mobileMenu:hover{
    cursor: pointer;
}

.sectionMobile{
    margin-top: 70px;      
}
.sectionAsideMobile {
    border-top: 1px solid lightgrey;
    padding-top: 80px;
    margin-top: 80px;
    text-align: center;
}
.lightBoxMobile{   
    position: absolute;   
    top: 0;
    left:0;    
    background-color: rgb(255, 255, 255); 
    border-radius: 3px;   
    width: 92%;    
    height: 100%;
    padding: 30px ;
    /* padding:30px; */
}
.companyAdress{
    width: 142px;
    font: normal normal normal 13px/18px Montserrat;
}
.mobileMenuContent{
    display:flex;    
    flex-direction: column;
    position:absolute;
    top:50px;
    /* transform: translateX(-30px); */
    width: 50vw;
    box-shadow: 0px 0px 6px #0000001A;

}
.visible{
    display: none;
}
.mainButtonMobile{
    font: normal normal normal 18px Montserrat;
    padding: 20px;  
      
    
}
.mainButtonMobile:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px #0000001A;
}
